
/* CSS Document */

@media only screen and (max-width: 768px) {
	
	#follow-item-home {
	margin:0 auto;
	text-align:center;
	display:inline-block;
	float:left;
	width:50%;
	margin-left:20%;
	height:auto;
	
	
}
	
	
	
}