
/* CSS Document */

@media only screen and (max-width: 768px) {
	
	#follow-item-home {
	margin:0 auto;
	text-align:center;
	display:inline-block;
	float:left;
	width:50%;
	margin-left:20%;
	height:auto;
	
	
}

.follow-arrow li {

	font-size:3em;
}

.follow-arrow img {
	margin:0 auto;
	padding-left:;
	float:left;
	width:15%;
	height:auto;
	padding-right:2%;
	
	
}
	
	
	
	
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}